# Ignorar carpeta de compilación de NetBeans
/build/

# Ignorar archivos generados automáticamente por NetBeans
/nbproject/private/
/nbproject/nbproject/

# Ignorar archivos de configuración o temporales
*.log
*.tmp
*.bak
*.swp